.headerText {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}
#result {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}
.myProfileContainer {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.thumbnail {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}
.myProfileContainer {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 15px;
    margin: 10px;
    background-color: rgba(255, 222, 222, 0.247);
}
.imageDisplay {
    display: flex;
    width: 10vh;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    background-color: rgba(255, 222, 222, 0.739);
}

#divAddPictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#myProfileContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 90%;
    border-radius: 40px;
}

.column0 {
    flex-direction: column;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.column1 {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.column2 {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 30%;
    margin-right: 10px;
    margin-left: 10px;
}

.column3 {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

.column4 {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
}

.column5 {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.imageWrapper {
    position: relative;
    display: inline-block;
}

.cross {
    position: absolute;
    top: -9%;
    right: -12%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 65, 65);
    border-radius: 50%;
    border: 1px solid rgb(247, 65, 65);
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.cross:hover {
    background-color: rgb(211, 42, 42);
    color: rgb(255, 255, 255);
}

#interestsSelection {
    justify-content: center;
    align-items: center;
    
}

.interestButton {
    font-size: large;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    padding: 10px;
    width: auto;
    max-width: 100%;
    height: 25px;
    margin: 5px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.interestButton:hover {
    background-color: rgb(255, 153, 153);
    ;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.interestButton.selected {
    height: 30px;
    width: 80px;
    background: linear-gradient(135deg, rgb(247, 65, 65), rgb(255, 127, 127));
    color: white;
    border: 1px solid rgb(247, 65, 65);
    transition: all 0.3s ease;
}

.interestButton.selected:hover {

    background: linear-gradient(135deg, rgb(211, 42, 42), rgb(218, 66, 66));
    color: white;
    border: 1px solid rgb(247, 65, 65);
    transition: all 0.3s ease;
}

#saveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    width: 40vh;
    max-width: 100%;
    height: 25px;
    margin: 5px;
    border: 1px solid rgb(247, 65, 65);
    margin-bottom: 15px;
    border-radius: 25px;
    font-size: 1rem;
    background: linear-gradient(135deg, rgb(247, 65, 65), rgb(255, 127, 127));
    color: rgb(255, 255, 255);
}

#saveButton:hover {
    background: linear-gradient(135deg, rgb(211, 42, 42), rgb(218, 66, 66));
    color: rgb(255, 255, 255);

}

#saveLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: auto;
    height: 15px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

input:focus {
    background-color: rgb(255, 250, 237);
    border-color: rgb(247, 65, 65);
    outline: none;
}

.gender {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 6%;
    border-radius: 15px;
    margin: 0;
}
.gender label {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(138, 138, 138);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    font-weight: bold;
    margin: 5%;
}
.gender label:hover {
    background: linear-gradient(135deg, rgb(211, 42, 42), rgb(218, 66, 66));
    color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 65, 65);
    transition: all 0.3s ease;
}
.gender input[type="radio"]:checked + label {
    background-color: rgb(247, 65, 65);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 65, 65);
}
.gender input[type="radio"] {
    display: none;
}