.inputBox > input {
    border-radius: 2px;
    border: 0.5px solid grey;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'emoji';
}
.inputBox > label {
    font-family: 'emoji';
}
.loginInput {
    border-radius: 2px;
    border: 1px solid grey;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: -25px;
    font-family: 'emoji';
}

#registrationForm{
    display:flex;
    text-align: center;
    justify-content: center;
}

.inputBox > label {
    display:flex;
    text-align: center;
    justify-content: center;
    font-family: 'emoji';
}

.loginForm{
    display:flex;
    align-items: center;
    justify-content: center;
}

