
.homeContent {
    display: flex;
    width: 90%;
    height: 80%;
    align-items: center;
    margin: auto;
    background-color: aliceblue;
}

.homeContentSide {
    width: 10%;
    height: 95%;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 255, 55, 0.9);
}
.homeContentCenter {
    width: 80%;
    height: 95%;
    align-items: center;
    background-color: red;

}

.profileView {
    width: 96%;
    height: 95%;
    margin: auto;
    background-size: cover;
    background-position: center;
}

.profileViewTopp {
    height: 80%;
    padding: 15px;
    text-align: center;
}

.profileViewTopp > h1 {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.profileViewBottom {
    height: 20%;
    padding: 15px;
    width: 40%;
    font-size: 70%;
}

.profileViewBottom > h1 {
    width: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.homeContentLikeButtons {
    width: 90%; 
    margin: auto; 
    text-align: center;
}
.homeContentLikeButtons > button {
    width: 12vw; 
    height: 4vh; 
    border: none; 
    margin-right: 10%;
    margin-left: 10%; 
    border-radius: 20px; 
    background-color: rgba(255,55,55,0.7);
}