
.homeContent {
    display: flex;
    width: 90%;
    height: 80%;
    align-items: center;
    align-content: center;
    margin: auto;
}

.homeContentTopp {
    width: 90%;
    height: 2%;
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 2vh;
}

.homeContentSide {
    width: 10%;
    height: 50%;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(220, 20, 20, 0.2);
    transition: 0.9s;
}

.homeContentSide img {
    height: 100px;
}

.homeContentSide:hover {
    box-shadow: 10px 10px 50px 0px grey;
    cursor: pointer;
    background-color: rgba(220, 20, 20, 0.5);
}

.homeContentSideNoneSvipe {
    width: 10%;
    height: 50%;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(220, 20, 20, 0.2);
    transition: 0.9s;
}

.homeContentCenter {
    width: 78%;
    height: 90%;
    margin: auto;
    align-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px grey;
    background-color: rgba(220, 20, 20, 0.2);
    transition: 0.9s;
}

.homeContentCenter:hover {
    box-shadow: 10px 10px 50px 0px grey;
    cursor: pointer;
    background-color: rgba(220, 20, 20, 0.5);
}

.homeContentCenterNoneSvipe {
    width: 78%;
    height: 90%;
    margin: auto;
    align-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px grey;
    background-color: rgba(220, 20, 20, 0.2);
    transition: 0.9s;
}

.profileView {
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.profileViewNoneSvipe {
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
    background-image: url(/Team1/img/cat1.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.profileViewTopp {
    height: 80%;
    padding: 15px;
    text-align: center;
}

.profileViewTopp > h1 {
    font-size: 4vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.profileViewBottom {
    width: 40vw;
    height: 20%;
    padding: 15px;
}

.profileViewBottom > h1 {
    width: auto;
    text-align: center;
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.homeContentLikeButtons {
    width: 90%; 
    margin: auto; 
    text-align: center;
}
.likeButton {
    width: 12vw; 
    height: 4vh; 
    border: none; 
    margin-right: 10%;
    margin-left: 10%;
    font-size: 2vh; 
    color: snow;
    font-weight: bold;
    border-radius: 20px; 
    background-color: rgba(220, 20, 20, 0.5);
    transition: 0.9s;
}

.likeButton:hover {
    cursor: pointer;
    background-color: rgba(220, 20, 20, 0.8);
    box-shadow: 5px 5px 20px 0px lightgray;
}

.homeContentLikeButtonsNoneSvipe {
    width: 40%;
    height: 5%;
    margin: auto;
    text-align: center;
    font-size: 5vh;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(220, 20, 20, 0.2);
}

.homeContentLikeButtonsNoneSvipe > img {
    height: 3vh;
    margin: auto;
}
